/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* NAVBAR STYLES
-------------------------------------------------- */
.navbar{
  background-color: #FFFFFF !important;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar .nav-item a{
  color:black !important;
  font-size: 1.3em;
  margin: 5px;
}
.navbar-nav > .active > a {
  color: #39A8E8 !important;
}
.navbar .dropdown-menu{
  background-color: #FFFFFF;
  margin:auto;
}
.navbar .dropdown-menu:hover{
  background-color: #FFFFFF
}
.navbar .dropdown-menu .dropdown-item:hover {
width:auto;
}
.navbar .navbar-right .nav-item i{
  color: #39A8E8 !important;
}

/* END OF NAVBAR
-------------------------------------------------- */

/*SECTIONS SHOWCASE
-------------------------------------------------- */
/* other pages*/
#page-title-section{
  position: relative;
  margin-top: 5%;
  height: 100px;
}


/* index showcase*/
#showcase{
  position: relative;
  height:100vh;
}
.showcase-items{
  margin-top:50px;
}
.showcase-items .lead_btn{
  background-color: #F8A826;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.showcase-items .lead_btn:hover{
  background-color: #F86D70;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
/* END OF SECTION SHOWCASE
-------------------------------------------------- */

/* MISSION 
-------------------------------------------------- */
#mision_vision{
  position: relative;
  z-index: 1;
  margin-top: -150px;
  margin-left: 5px;
  margin-right: 5px;
  }
  .mision_vision_details{
    background-color: #000080;
  
  }
  .details{
    color:white;
  }
  /* END OF  MISSION_VISION 
-------------------------------------------------- */

 /* SECTION OUR_WORK
-------------------------------------------------- */
#our-work{
background-color: #F5F5F5;
}

/* CARD BOXES 
-------------------------------------------------- */
span{
  font-size:18px;
}

.box{
  padding:60px 0px;
}

.box-part{
  border-top:5px solid black;
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.box-part:hover{
  border-top:5px solid #17A2B8;
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
  box-shadow: 2px 2px 2px 1px #ccc;
}
.text{
  margin:20px 0px;
}

.card-link{
  background-color: #F8A826;
  border: 2px solid #17A2B8;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.card-link:hover{
  background-color: #17A2B8;
  border: 2px solid #17A2B8;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* Events Article */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}
.tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #F8A826;
}
.tag-link {
  color: #F8A826;
}
.tag-purple {
  background-color: #3d1d94;
}
.tag-pink {
  background-color: #c62bcd;
}
.card-body h4 {
  margin: 10px 0;
}
.card-body p {
  font-size: 14px;
  margin: 0 0 20px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
}
.user {
  display: flex;
  margin-top: auto;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #888785;
}

/*Blogs and Events Tabs*/
#tab-menus {
  padding: 20px 0px;
}
#tab-menus .nav-tabs {
  background-color: #f3f3f3;
  box-shadow: 0px 0px 33px -15px #000;
}
#tab-menus .tab-content {
  background-color: #f3f3f3;
  padding: 5px 15px;
}
#tab-menus .nav-link {
  font-size: 18px;
  color: #17A2B8;
}
#tab-menus .nav-tabs {
  border-bottom: 1px solid #17A2B8;
}
#tab-menus .nav-tabs .nav-link.active {
  border-color: #17A2B8 #17A2B8 #fff;
  color: white;
  background-color: #17A2B8;
}

/* Footer */
.myfooter{
  background-color:#000080;
}
.list-unstyled a{
  color:white;
}
.list-unstyled a:hover{
  color: #F8A826;
}
#button-addon1 {
  color: #F8A826;
}

i {
  color: #F8A826;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}
.footer-main-heading{
  color: #F8A826;
}