/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
 padding-top: 3rem;
 color: #5a5a5a;
 overflow-x: hidden;
 height:100%;
}




/* NAVBAR STYLES
-------------------------------------------------- */
.navbar{
  background-color: #FFFFFF !important;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar .nav-item a{
  color:black !important;
  font-size: 1.3em;
  margin: 2px;
}
.navbar-nav > .active > a {
  color: #39A8E8 !important;
}
.navbar .dropdown-menu{
  background-color: #F0F0F4;
  margin:auto;
  width:auto;
}
.navbar .dropdown-menu:hover{
  background-color: #F0F0F4;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #F0F0F4;
}
.navbar .dropdown-menu .dropdown-item:hover {
width:auto;
}
.navbar .navbar-right .nav-item i{
  color: #17A2B8!important;
}
.dropright:hover>.dropdown-menu{
display: block;
 position: absolute;
 transform: translate3d(150px, -5px, 0px);
 top: 0px;
 left: 0px;
 will-change: transform;
} 
.dropright>.dropdown-toggle:active {
 pointer-events: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.main-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .main-menu{
  display: block;
}
/* END OF NAVBAR
-------------------------------------------------- */

/*SECTIONS SHOWCASE
-------------------------------------------------- */
/* other pages*/
#page-title-section{
  position: relative;
  margin-top: 3%;
  height: 100px;
}


/* index showcase*/
#showcase{
  position: relative;
  height:100vh;
}
.showcase-items{
  margin-top:50px;
}
.showcase-items .lead_btn{
  background-color: #FBBB07;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.showcase-items .lead_btn:hover{
  background-color: #FBBB07;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
/* END OF SECTION SHOWCASE
-------------------------------------------------- */


/* MISSION 
-------------------------------------------------- */
#mision_vision{
  position: relative;
  z-index: 1;
  margin-top: -150px;
  margin-left: 5px;
  margin-right: 5px;
  }
  .mision_vision_details{
    background-color: #000080;
  
  }
  .details{
    color:white;
  }
  /* END OF  MISSION_VISION 
-------------------------------------------------- */

 /* SECTION OUR_WORK
-------------------------------------------------- */
#our-work{
background-color: #F5F5F5;
}

/* CARD BOXES 
-------------------------------------------------- */
span{
  font-size:18px;
}

.box{
  padding:60px 0px;
}

.box-part{
  border-top:5px solid black;
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.box-part:hover{
  border-top:5px solid #17A2B8;
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
  box-shadow: 2px 2px 2px 1px #ccc;
}
.text{
  margin:20px 0px;
}

.card-link{
  background-color:  #FBBB07;
  border: 2px solid #17A2B8;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.card-link:hover{
  background-color: #17A2B8;
  border: 2px solid #17A2B8;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* Events Article */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}
.tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}
.tag-teal {
  background-color:  #FBBB07;
}
.tag-link {
  color:  #FBBB07;
}
.tag-purple {
  background-color: #3d1d94;
}
.tag-pink {
  background-color: #c62bcd;
}
.card-body h4 {
  margin: 10px 0;
}
.card-body p {
  font-size: 14px;
  margin: 0 0 20px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
}
.user {
  display: flex;
  margin-top: auto;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #888785;
}

/*Blogs and Events Tabs*/
#tab-menus {
  padding: 20px 0px;
}
#tab-menus .nav-tabs {
  background-color: #f3f3f3;
  box-shadow: 0px 0px 33px -15px #000;
}
#tab-menus .tab-content {
  background-color: #f3f3f3;
  padding: 5px 15px;
}
#tab-menus .nav-link {
  font-size: 18px;
  color: #17A2B8;
}
#tab-menus .nav-tabs {
  border-bottom: 1px solid #17A2B8;
}
#tab-menus .nav-tabs .nav-link.active {
  border-color: #17A2B8 #17A2B8 #fff;
  color: white;
  background-color: #17A2B8;
}

/* Footer */
.myfooter{
  background-color:#17A2B8;
}
.list-unstyled a{
  color:white;
}
.list-unstyled a:hover{
  color:  #FBBB07;
}
#button-addon1 {
  color:  #FBBB07;
}

.footer-social {
  color:  #fff;
  font-size: 20px;
}
.li-social-media{
font-weight: bold;
font-size: 25px;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}
.footer-main-heading{
  color: #FBBB07;
  height: vh;
}

/*flat buttons*/
.btn_news{
  min-width: 80px;
  height: 40px;
  border: 1px solid;
  background: #E19822;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  font-weight: 500;
  transition: all 200ms linear;
  box-sizing: border-box;
  outline: 0;
}
a.btn_news{
  text-decoration: none;
  line-height: 15px;
  font-size: 12px;
  font-weight: bold;
  color:#fff;
}
i.btn_news{
  color:#fff;
}

/*flat buttons*/
.btn_reg{
  min-width: 80px;
  height: 50px;
  border: 1px solid;
  background: #E19822;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 200ms linear;
  box-sizing: border-box;
  outline: 0;
}
.btn_reg:hover{
  background: #c55306;
}
a.btn_reg{
  text-decoration: none;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
}
i.btn_reg{
  color:#fff;
}
#badge-label{
  background-color: #17A2B8;
}

/*map*/
#mapCanvas {
  width: 100%;
  height: 500px;
}

/*total visitors counter*/
.counter {
  background-color:#17A2B8;
  padding: 20px 0;
  border-radius: 10px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 15px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color:#fff;
}


/*Search Page*/
#search {
  position:relative;
  padding:0;
 }
 #search #ssep_inp:focus {
  background:#eeeefe;
 }
 #src_sugest {
  position:absolute;
  left:-.5em;
  margin:1px 0 0 2px;
  max-width:15em;
  max-height:30em;
  background:#eee;
  text-align:left;
  padding:0;
  font-size:.9em;
  font-family:"Calibri",sans-serif;
  z-index:9990;
  overflow-Y:auto;
  overflow-X:hidden;
  -moz-border-radius:.5em;
  -webkit-border-radius:.5em;
  -khtml-border-radius:.5em;
  border-radius:.5em;
 }
 #src_sugest h4 {
  margin:3px 2px;
  border-bottom:1px dashed #0001bb;
  padding:1px;
  font-weight:600;
  cursor:pointer;
 }
 #src_sugest h4:hover {
  background:#fefefe;
 }
 #src_sugest .hglw {
  background:#fbfbbb;
  font-weight:700;
  font-style:oblique;
 }
 #src_sugest div {
  position:absolute;
  top:0;  right:0;
  border:1px solid #fe0000;
  background:#fbfbfb;
  padding:1px 3px;
  font-size:1em;
  font-weight:700;
  color:#fb0001;
  cursor:pointer;
  -moz-border-radius:.4em;
  -webkit-border-radius:.4em;
  -khtml-border-radius:.4em;
  border-radius:.4em;
 }
 #src_sugest div:hover {
  background:#fbfb00;
 }